<div class="col s12 light-green lighten-4">
  <div class="col s1 offset-s11">
    <%= button_tag(method: "submit",
                   class: "btn-floating tooltipped btn-small waves-effect waves-light green",
                   "data-position": "left",
                   "data-delay":    "50",
                   "data-tooltip":  "Save Card") do %>
      <i class="material-icons">done</i>
    <% end %>
  </div>
</div>