<div class="col s12 submit-btn">
  <div class="right-align">
    <%= button_tag(method: "submit",
                   class: "btn-floating tooltipped btn-small waves-effect waves-light green darken-3",
                   "data-position": "left",
                   "data-delay":    "50",
                   "data-tooltip":  "Save Card") do %>
      <i class="material-icons">done</i>
    <% end %>
  </div>
</div>