<!-- Description -->
<div class="input-field">

  <%= hidden_field_tag(:org_id, @org.id)%>

  <p><strong><em>Type:</em></strong></p>
  <%= select_tag(:goods_type, options_for_select(@goods_types)) %>

  <p><strong><em>Description:</em></strong></p>
  <%= text_field_tag(:description, value = nil, options =
    {class:       "materialize-textarea active",
    autofocus:   "autofocus",
    placeholder: "Please add a clear description"})
  %>

  <!-- Submit Button -->
  <div class="col s12 light-green lighten-4">
    <div class="col s1 offset-s11">
      <%= button_tag(method: "submit",
                     class: "btn-floating tooltipped btn-small waves-effect waves-light green",
                     "data-position": "left",
                     "data-delay":    "50",
                     "data-tooltip":  "Save Card") do %>
        <i class="material-icons">done</i>
      <% end %>
    </div>
  </div>

</div>