<div class="input-field">

  <%= hidden_field_tag(:org_id, @org.id)%>

  <p class="center-align">
    <input type="checkbox"
           class="toggle-active"
           name="seturgent"
           style="font-size: 1.5em"
    />
    <label for="seturgent" class="toggle-urgent">Mark urgent
      <i class="material-icons tiny urgent">error</i>
    </label>
  </p>

  <!-- Type selector -->
  <p><strong><em>Type:</em></strong></p>
  <%= select_tag(:goods_type, options_for_select(@goods_types)) %>

  <!-- Description -->
  <p><strong><em>Description:</em></strong></p>
  <%= text_field_tag(:description, value = nil, options =
    {class:       "materialize-textarea active",
    autofocus:   "autofocus",
    placeholder: "Please add a clear description"})
  %>

  <%= render 'form_submit_button' %>

</div>