<div class="row">


  <!--
    t.boolean  "offers"
    t.boolean  "needs"
    t.boolean  "urgent"
    t.string   "description"
    t.boolean  "active"
  -->


  <div class="col s10 offset-s1">
    <!-- Needs/Offers Cards -->
    <ul class="collection with-header">
      <!-- Render Existing Needs -->
      <% if @needs.size > 0 %>
        <li class="collection-item needs-header">
          <div>
            <span class="org-good-type-title">Needs</span>
            <span class="secondary-content">Active</span>
          </div>
        </li>
        <% @needs.each do |need| %>
          <%= render partial: "org_cards", locals: {card: need} %>
        <% end %>
      <% end %>
      <!-- Render Existing Offers -->
      <% if @offers.size > 0  %>
        <li class="collection-item offers-header">
          <div>
            <span class="org-good-type-title">Offers</span>
            <span class="secondary-content">Active</span>
          </div>
        </li>
        <% @offers.each do |offer| %>
          <%= render partial: "org_cards", locals: {card: offer} %>
        <% end %>
      <% end %>

      <!-- No Needs/Offers -->
      <% if !@needs.present? && !@offers.present? %>
        <li class="collection-header">
          <h5>You have no needs or offers posted - use the controls above to get started</h5>
        </li>
      <% end %>
    </ul>
  </div>
</div>