<div class="row">
  <div class="col s1 m1 l1"></div>
  <div class="col s8 m8 l7">
    <!-- Needs/Offers Cards -->
    <h5>NEEDS AND OFFERS</h5>
    <div class="card horizontal">
      <div class="card-image">
        <div class="blue"></div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This would be a need.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s3 m3 l4">
    <!-- Create New Needs/Offers Cards Options -->
    CREATE STUFF
  </div>
</div>