<section class="org-show">
  <!-- Floating edit button -->
  <div class="fixed-action-btn">
    <button class="btn-floating tooltipped btn-medium waves-effect waves-light green" type="submit" data-position="left" data-delay="50" data-tooltip="Save Organization Info" name="save">
      <i class="material-icons">done</i>
    </button>
  </div>

  <%= render 'org_edit' %>

  <div class="divider"></div>

  <%= render 'org_categories' %>
  <!-- Event creation/description would go here? -->
</section>