<section class="org-show">
  <!-- Floating save button -->
  <div class="fixed-action-btn">
    <a class="btn-floating tooltipped btn-medium waves-effect waves-light light-blue darken-2" data-position="left" data-delay="50" data-tooltip="Save Organization Info">
      <i class="material-icons">done</i>
    </a>
  </div>

  <%= render 'org_edit' %>

</section>