<div class="row auth-form">
  <h3>Sign in</h3>
  <%= form_tag '/login' do %>
    <fieldset>
    <div class="control-group">
      <label class="control-label">Email:</label>
      <div class="controls">
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password:</label>
      <div class="controls">
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls buttons">
        <%= submit_tag 'Submit', class: "btn btn-success" %><br>
        <%# facebook log in button %>
        <!-- <div id="fb-root"></div>
        <div id="fb-button" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" style="width:100px; height: 100px;"></div>
        </div> -->
      </div>
    </div>
  <% end %>
</div>