<form>
  <div class="search-bar-org-page">
    <input
      class="btn waves-effect waves-light orange lighten-1 cause-search"
      type="submit"
      value="all"
      id="show-all"
    >
    <% @goods_types.each do |g| %>

      <input
        class="btn waves-effect waves-light orange lighten-1 cause-search"
        type="submit"
        name="goods_types[]"
        value="<%= g.name %>"
      >

    <% end %>
  </div>
</form>