<div class="row org-container">
  <br><h4 class="center-align green-text text-darken-3">find a need you can fill</h4><br>

  <%= render 'needs_filter' %>

  <div>
    <%= render 'needs' %>
  </div>
</div>
