<div class="row org-container">
  <br><h4 class="center-align blue-text text-darken-2">find an offer that fills your need</h4><br>

  <%= render 'offers_filter' %>

  <div>
    <%= render 'offers' %>
  </div>
</div>