<div class="container" id="form-carousel">
  <div class="carousel carousel-slider center" indicators="false">

    <!-- SLIDE 1 -->
    <div class="carousel-item amber grey-text text-darken-2" href="#one">
      <h2>Welcome</h2>
      <p class="grey-text text-darken-2">Do you have something to...</p>
      <a class="btn waves-effect white grey-text" id="offer-button">offer</a>
      <p class="grey-text text-darken-2">Are you in... </p>
      <a class="btn waves-effect white grey-text" id="need-button">need</a>
    </div>

    <!-- SLIDE 2 -->
    <div class="carousel-item teal grey darken-1-text" href="#two">
      <p class="grey-text text-darken-2">Are you an...</p>
      <a class="btn waves-effect white grey-text" id="organization-button">organization</a>
      <p class="grey-text text-darken-2">Are you an...</p>
      <a class="btn waves-effect white grey-text" id="individual-button">individual</a>
    </div>

    <!-- SLIDE 3 -->
    <div class="carousel-item cyan grey-text text-darken-2" href="#three">
      <p class="grey-text text-darken-2">Do you want to...</p>
      <a class="btn waves-effect white grey-text" id="give-button-individual">give</a>
      <p class="grey-text text-darken-2">Do you want to... </p>
      <a class="btn waves-effect white grey-text" id="participate-button-individual">participate</a>
    </div>

    <!-- SLIDE 4 -->
    <div class="carousel-item amber white-text" href="#fours">
      <h2>Please pick some causes you are interested in.</h2>

      <div class="container">
        <p class="grey-text">Environment</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>

        <p class="grey-text">Health</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>
        </div>

        <div class="container">
        <p class="grey-text">Animals</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>

        <p class="grey-text">Poverty</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>
        </div>
        <br>
        <a class="btn waves-effect white grey-text" id="need-button">Let's go</a>
    </div>

    <!-- SLIDE 5 -->
    <div class="carousel-item red accent-1 grey-text text-darken-2" href="#five">
      <p class="grey-text text-darken-2">Are you interested in...</p>
      <a class="btn waves-effect white grey-text" id="events-button-individual">events</a>
      <p class="grey-text text-darken-2">Are you offering... </p>
      <a class="btn waves-effect white grey-text" id="skill-button-individual">skills</a>
    </div>


  </div>
</div>


  <script>

  $(document).ready(() => {

    $('.carousel.carousel-slider').carousel({full_width: true});

    $('#offer-button').click(function(q) {
      $('.carousel').carousel('next')
    })

    $('#individual-button').click(function(q) {
      $('.carousel').carousel('next')
    })

    $('#give-button-individual').click(function(q) {
      $('.carousel').carousel('next')
    })

    $('#participate-button-individual').click(function(q) {
      $('.carousel').carousel('next', 2)
    })

  })
  </script>
