
  <div class="carousel carousel-slider center" id="form-carousel" indicators="false">

    <div class="carousel-item blue grey-text text-darken-2" href="#one">
      <h2>Welcome</h2>
      <p class="grey-text text-darken-2">Do you have something to...</p>
      <a class="btn waves-effect white grey-text" id="offer-button">offer</a>
      <p class="grey-text text-darken-2">Are you in... </p>
      <a class="btn waves-effect white grey-text" id="need-button">need</a>
    </div>

    <div class="carousel-item white grey darken-1-text" href="#two">
      <p class="grey-text text-darken-2">Do you want to...</p>
      <a class="btn waves-effect white grey-text" id="give-button">give</a>
      <p class="grey-text text-darken-2">Do you want to... </p>
      <a class="btn waves-effect white grey-text" id="participate-button">participate</a>
    </div>

    <div class="carousel-item white grey-text text-darken-2" href="#three">

      <h2>Please pick some causes you are interested in.</h2>

      <div class="container">
        <p class="grey-text">Environment</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>

        <p class="grey-text">Health</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>
        </div>

        <div class="container">
        <p class="grey-text">Animals</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>

         
        <p class="grey-text">Poverty</p><div class="switch">
          <!-- Switch -->
          <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
          </label>
        </div>
        </div>
        <br>
        <a class="btn waves-effect white grey-text" id="need-button">Let's go</a>

    </div>

    <div class="carousel-item blue white-text" href="#fours">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
