

 <form>

<div class="search-bar-org-page">

  <input id="test" class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="foods">

  <input class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="hygiene items">

  <input class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="furniture">

  <input class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="home supplies">

  <input class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="business supplies">

  <input class="btn waves-effect waves-light blue cause-search" type="submit" name="category_names[]" value="money donations">

</div>

</form>


<form action="#" id="radio_buttons_goodstype_select">

  <p>
    <input name="group1" type="radio" id="test1" />
    <label id="label_for_offers" for="test1">offers only</label>
  </p>

  <p>
    <input class="center-align" name="group1" type="radio" id="test2" />
    <label for="test2">searches only</label>
  </p>

</form>





<script>

$(document).ready(() => {

  function showValues() {
    var string = $("form").serialize();
 }

  $("input[type='submit']").on("click", showValues);

});

</script>
