main.container .org-show {
  padding-top: 2em;

  .org-edit {
    .org-image {
      display: block;
    }
    .org-details {

    }
  }

  #toggle-org-form-render,
  #toggle-new-offer,
  #toggle-new-need  {
    display: none;
  }
}