body main.container {
 width: 100%;
 margin: 0;
}

// CSS for Parallax homepage
.parallax-container {
  height: 600px;
  width: 100vw;
}

#text_overlay_homepage {
  margin-top: 8em;
  margin-left: 2em;
}

#homepage_title_text {
  padding: 1em;
}


.carousel .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height:625px !important;
}

#slide-1-title {
  padding-top: 2.5em;
}

#slide-2-p {
  padding-top: 6em;
}

#slide-3-p {
  padding-top: 6em;
}

#slide-4-title {
  padding-top: 3.5em;
}

#slide-5-p {
  padding-top: 6em;
}
