body main.container {
 width: 100vw;
 // for parallax full-width
 margin: 0;
}
// fix text alignment caused by margin 0 above
div.row {
  width: 100vw;
}
// carousel
#form-carousel {
  height: 500px;
}

.carousel .carousel-item {
  padding-top: 4em;
  height:500px !important;
}

#radio_buttons_goodstype_select {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
}

#label_for_offers {
  padding-right: 1em;
}

// CSS for Parallax homepage
.parallax-container {
  height: 600px;
  width: 100vw;
}

#text_overlay_homepage {
  margin-top: 8em;
  margin-left: 2em;
}

#homepage_title_text {
  padding: 1em;
}

.carousel .carousel-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:600px !important;
}

.align-carousel-items-horizontally {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.align-carousel-items-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 2em;
}

#slide2-div {
  margin-top: 8em;
}

#slide3-div {
  margin-top: 8em;
}

#slide6-div {
  margin-top: 8em;
}

#slide7-div {
  padding-top: 3.5em;
}

#slide-1-title {
  align: center;
  padding-top: 2.5em;
}

#slide-4-title {
  padding-top: 3.5em;
}

#slide-5-title {
  padding-top: 3.5em;
}


div.carousel.carousel-slider.center {
  width: 100vw;
}

.btn.waves-effect.waves-light.homepage.steps {
  margin: 0.5em;
}

div.col.s4.homepage-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circle.responsive-img.homepage-team-images {
  height: 60%;
  width: 60%;
}

.select-dropdown{
    overflow: auto !important;
}
