nav {
  top: 0;
  background-color: transparent;
  img#logo {
    height: 2.2em;
    padding: 5px;
  }
  ul, a {
    .material-icons, li > a {
      color: black
    }
  }
  a.btn {
    background-color: #3165D7
  }
  a.btn:hover {
    background-color: #F9B454;
    color: black;
  }
}