div.card.needs {
  .needs-offers-type {
    float: right;
    margin-top: 10px;
  }
  .card-content {
    background-color: #6BA472;
    height: 140px;
  }
  div.card-action {
    background-color: #4B8656;
    height: 30px;
  }
}