div.card.offers {
  .needs-offers-type {
    float: right;
    margin-top: 10px;
  }
  .card-content {
    background-color: #3EA4F0;
    height: 140px;
  }
  div.card-action {
    background-color: #0D71E1;
    height: 30px;
  }
}

.highlight-offer {
  border: 3px solid #F46176;
}
