div.row.org-container {
  width: 85vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}
div.top-offset {
  padding-top: 5%
}
div.card.medium {
  word-wrap: break-word;
  margin: 5px;
  height: 450px;
  word-wrap: wrap;
  margin: 5px;
  line-height: 1.2em;
  span.card-title.grey-text {
    transition: all 0.5s ease;
    line-height: 1.2em;
  }
  span.card-title:hover {
    transition: all 0.5s ease;
    text-shadow: 1px 0px 2px grey;
  }
  div.card-action {
    a.help-link, a.info-link {
      font-weight: 700;
    }
  }
  div.card-content {
    height: 100px;
  }
}
div.valign-wrapper {
  height: 250px;
  img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
div.org-card-large {
  img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
aside.org-toggle {
  transition: all 0.5s ease;
  text-align: center;
  background-color: #3165D7;
  box-shadow: 0px 2px 2px lightgrey;
  position: fixed;
  left: 10%;
  right: 10%;
  width: 80%;
  top: 65px;
  border-radius: 2px;
  padding: 8px;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
}
aside.org-toggle:hover {
  transition: all 0.5s ease;
  box-shadow: 0px 2px 2px lightgrey;
  background-color: #F8A12E;
  a:hover {
    color: black;
  }
}
aside.org-toggle {
  z-index: 100;
}