.highlight {
  border: 3px solid green
}
div.row.org-container {
  width: 85vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}
div.card.medium {
  word-wrap: break-word;
  margin: 5px;
  height: 450px;
  word-wrap: wrap;
  margin: 5px;
  line-height: 1.2em;
  span.card-title.grey-text {
    transition: all 0.3s ease;
    line-height: 1.2em;
  }
  span.card-title:hover {
    transition: all 0.3s ease;
    text-shadow: 0px 0px 1px grey;
  }
  div.card-action {
    height: 10%;

    a.help-link,
    a.info-link {
      font-weight: 700;
      left: 5%;
      width: 30%;
    }
    a.help-link {
      color: blue
    }
  }
  div.card-content {
    height: 100px;
  }
}
div.valign-wrapper {
  height: 250px;
  img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
div.org-card-large {
  img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

div.search-bar-org-page {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.btn.waves-effect.waves-light.waves-input-wrapper.cause-search {
  margin: 0.5em;
}
.when-search-button-is-clicked {
  background-color: blue;
}
