// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div.flexcontainer {
//   display: flex;
//   display: -webkit-flex;
//   -webkit-flex-direction: row;
//   flex-direction: row;
//   -webkit-align-items: center;
//   align-items: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   width: 100%;
//   -webkit-flex-flow: row wrap;
//   flex-flow: row wrap;
// }

div.card:hover {
  box-shadow: 4px 4px 10px gray;
}
div.card {
  word-wrap: break-word;
  margin: 5px;
  height: 450px;
  word-wrap: wrap;
  margin: 5px;
  line-height: 1.2em;
  span.card-title.grey-text {
      line-height: 1.2em;
    }
  a.help-link {
    font-weight: 700;
    color: darkorange;
  }
  div.card-content {
    height: 100px;

  }

}

div.card-image {
  height: 250px;
  display: table-cell;
  vertical-align: middle;
  img {
    display: block;
    max-width: 380px;
    max-height: 250px;
    width: auto;
    height: auto;
  }
}