div.row.auth-form,
div.row.register-form {
  width: 70vw;
  margin-top: 20px;
  margin-left: 15vw;
  margin-right: 15vw;
}
.btn.btn-success {
  height: 39px;
  width: 123px;
  margin-bottom: 10px;
}
// .fb-login-button {
//   box-shadow: 0px 1px 1px gray
// }
// .fb-login-button:hover {
//   box-shadow: 0px 2px 1px gray
// }