<% @offers.each do |card| %>

  <div class="col s12">
    <div class="card offers">
      <div class="card-content white-text">
        <p class="needs-offers-type">
          <i class="tiny material-icons circle red">swap_horiz</i>
          has <%= card.goods_type.name %>
        </p><br><br>
        <p><%= card.description %></p>
      </div>
    </div>
  </div>

<% end %>