<div class="row org-container">
  <br><h4 class="center-align grey-text text-darken-2">our organizations</h4><br>

  <%= render 'search_bar' %>

  <div>
    <%= render @organizations %>
  </div>
</div>
