<div class="top-offset">
  <div class="row org-container">
    <aside class="org-toggle">
      <span>
        <%= link_to "All", "/organizations" %>
        <%= link_to "Charities", "/organizations?orgtype=charity" %>
        <%= link_to "Businesses", "/organizations?orgtype=business" %>
      </span>
    </aside>

    <%= render @organizations %>

  </div>
</div>