<div class="row">
  <aside class="org-toggle">
    <%= link_to "All", "/organizations" %>
    <%= link_to "Charities", "/organizations?orgtype=charity" %>
    <%= link_to "Businesses", "/organizations?orgtype=business" %>
  </aside>
  <%= render @organizations %>

</div>
