<div class="org-card-large col s12">
  <%= image_tag(@org.image.full) %>

  <div class="divider"></div>

  <h3><%= @org.name %></h3>

  <%= render 'org_contact' %>

  <div class="divider"></div>
  <p>This is where we'll put the needs/offers stuff</p>
</div>