<div style="width:100%" class="container" id="form-carousel">
  <div class="carousel carousel-slider center" indicators="false">

    <!-- SLIDE 1 -->
    <div class="carousel-item amber white-text" href="#one">
      <h2 id="slide-1-title">Let's get started!</h2>

        <div class="align-carousel-items-horizontally" id="slide1-div">

          <div class="align-carousel-items-vertically">
            <p>Do you have something to...</p>
            <a class="btn waves-effect white grey-text" id="offer-button">offer</a>
          </div>

          <div class="align-carousel-items-vertically">
            <p>Is there something you... </p>
            <a class="btn waves-effect white grey-text" id="need-button">need</a>

          </div>
        </div>
    </div>

    <!-- SLIDE 2 -->
    <div class="carousel-item teal white-text" href="#two">
      <div class="align-carousel-items-horizontally" id="slide2-div">

        <div class="align-carousel-items-vertically">
          <p>Are you an...</p>
          <a class="btn waves-effect white grey-text" id="organization-button">organization</a>
        </div>

        <div class="align-carousel-items-vertically">
          <p>Are you an...</p>
          <a class="btn waves-effect white grey-text" id="individual-button">individual</a>
        </div>

      </div>
    </div>

    <!-- SLIDE 3 -->
    <div class="carousel-item cyan white-text" href="#three">
      <div class="align-carousel-items-horizontally" id="slide3-div">

        <div class="align-carousel-items-vertically">
          <p>Do you want to...</p>
          <a class="btn waves-effect white grey-text" id="give-button-individual">give</a>
        </div>

        <div class="align-carousel-items-vertically">
          <p>Do you want to... </p>
          <a class="btn waves-effect white grey-text" id="participate-button-individual">participate</a>
        </div>

      </div>
    </div>

    <!-- SLIDE 4 -->
    <div class="carousel-item amber white-text" href="#four">
        <h2 id="slide-4-title">Please pick some causes you are interested in.</h2>

         <form class="col s12" id="causes_form">
           <div class="row">

             <div class="col s12 m4 l4"></div>

             <div class="input-field col s12 m4 l4">
                <select multiple name="category_names[]" id="multiple_select_causes_carousel">

                   <option value="environment" disabled>select your causes</option>
                   <option value="environment">environment</option>
                   <option value="poverty">poverty</option>
                   <option value="sport">sports</option>
                   <option value="health">health</option>
                   <option value="education">education</option>
                   <option value="human rights">human rights</option>
                   <option value="animal rights">animal welfare</option>
                   <option value="religion">religion</option>
                   <option value="community development">community development</option>
                   <option value="arts and culture">arts and culture</option>
                   <option value="religion">religion</option>
                   <option value="disadvantaged">the disadvantaged</option>
                </select>

                <button class="btn waves-effect waves-light" type="submit" name="action">Let's go
                  <i class="material-icons right">send</i>
                </button>
            </div>

            <div class="s12 m4 l4"></div>

         </div>
       </form>

    </div>


    <!-- SLIDE 5 -->
    <div class="carousel-item deep-purple darken-1 white-text" href="#five">
      <h2 id="slide-5-title">Please pick some ways to participate.</h2>

           <form class="col s12" id="participation_form">
             <div class="row">

               <div class="col s12 m4 l4"></div>

               <div class="input-field col s12 m4 l4">
                  <select multiple name="goods_types[]" id="multiple_select_participation_carousel">
                     <option value="" disabled="disabled" selected="selected">Select</option>
                     <option value="unskilled labour">offer unskilled labour</option>
                     <option value="skilled labour">offer skilled labour</option>
                     <option value="volunteers">volunteer</option>
                  </select>

                  <button class="btn waves-effect waves-light" type="submit" name="action">Let's go
                    <i class="material-icons right">send</i>
                  </button>
              </div>

              <div class="s12 m4 l4"></div>

           </div>
         </form>

      </div>


    <!-- SLIDE 6 (after clicking #organizations-button)-->
    <div class="carousel-item blue darken-2 white-text" href="#six">
      <div class="align-carousel-items-horizontally" id="slide6-div">

        <div class="align-carousel-items-vertically">
          <p>I want to see all needs.</p>
          <a class="btn waves-effect white grey-text" id="show-me-button-organizations">Show me</a>
        </div>

        <div class="align-carousel-items-vertically">
          <p>I want to publish an offer.</p>
          <a class="btn waves-effect white grey-text" id="register-button-organizations">Register</a>
        </div>

      </div>
    </div>

    <!-- SLIDE 7 (after clicking #need-button)-->
    <div class="carousel-item amber darken-3 white-text" href="#six">
      <div class="align-carousel-items-horizontally" id="slide7-div">

        <div class="align-carousel-items-vertically">
          <p>I want to see all offers.</p>
          <a class="btn waves-effect white grey-text" id="show-me-button-charities">Show me</a>
        </div>

        <div class="align-carousel-items-vertically">
          <p>I want to publish a need.</p>
          <a class="btn waves-effect white grey-text" id="register-button-charities">Register</a>
        </div>

      </div>
    </div>

  </div>
</div>
