
<!-- TOP SECTION -->

  <div class="parallax-container">
    <div class="parallax"><img style="width:100" src="/assets/FoodBagsPhoto_small.jpg"></div>
      <div class="row center">
        <div class="col s12 l6" id="text-overlay-homepage">
          <br>
          <h2 class="white-text">Make good happen</h2>
          <p class="white-text" id="homepage-title-text"><strong>inNeed</strong> is your one stop charitable hub connecting charities who don’t have enough with organizations and people who have something to give – from food to clothing to donations, and much more.</p>
          <br>
          <button class="btn waves-effect green lighten-1 waves-light homepage_get_started" name="action">Get started</button>
        </div>
      </div>
  </div>

<!-- SECOND SECTION -->

  <div class="section white">
    <div class="row">

      <div class="col s1"></div>
      <div class="col s10 center-align"><h2 class="header grey-text center-align">Have stuff? Need stuff? Let’s connect!</h2>
      <br>
      <p>This month, local food retailer X has a surplus of peanut butter they’d love to give away. Community food bank Y has heaps of jelly, but no peanut butter to go with it. <strong>inNeed </strong> is designed to make those PB and J sammies happen. Getting started is easy and free.</p>
      <br>
      </div>

      <div class="col s1"></div>

      <div class="container">

        <div class="col s4 homepage-steps">
          <img src="/assets/sign_up.png">
          <p class="center-align">Sign up for your account. This step is optional, but it allows you to set up a profile and publish your own offers or needs.</p>
        </div>


        <div class="col s4 homepage-steps">
          <img src="/assets/communicate.png">
          <p class="center-align">Set up some cards to let others know what you’d like to give away or what you’re looking for — or browse existing offers and searches.</p>
          <br>
          <button class="btn waves-effect waves-light homepage_get_started blue darken-1" name="action">Get started</button>
        </div>

        <div class="col s4 homepage-steps">
        <img src="/assets/contact.png">
        <p class="center-align">Now comes the best part: Connect with a charity or organization of your choice to make some giving magic happen.</p>
        </div>

      </div>
      <div></div>
    </div>
  </div>

<!-- TEAM SECTION -->

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/charity1.jpg"></div>
  </div>


  <div class="section white">
    <div class="row">

      <div class="col s1"></div>
      <div class="col s10 center-align"><h2 class="header grey-text center-align">Meet the team</h2>
      <br>
      </div>
      <div class="col s1"></div>

      <div class="container">

        <div class="col s4 homepage-steps">
          <img src="/assets/Chris.jpeg" alt="Chris" class="circle responsive-img homepage-team-images">
          <p><strong>The Joker</strong></p>
          <p>If you’re thinking “Joker” as in “Batman and the Joker”, think a lot less evil! Chris is the mastermind behind inNeed’s dashboard, among many other celebrated achievements. He also played a pivotal role in keeping morale up by entertaining his team mates with an endless stream of puns, often questionable (yet mostly hilarious) jokes, as well as renditions of rap and pop songs featuring names of and/or true facts about his cohort members.</p>
        </div>

        <div class="col s4 homepage-steps">
          <img src="/assets/Micah.jpg" alt="Micah" class="circle responsive-img homepage-team-images">
          <p><strong>The Brain</strong></p>
          <p>If Micah were a piece of code, he would be a <a href="https://en.wikipedia.org/wiki/Fork_bomb">fork bomb</a> or wabbit - not because he’s a destructive character, but because of his extreme efficiency and his mastery of “da code”. Conversations about inNeed tasks with him usually went like this: “I wrote this piece of code, but then I thought it’s not DRY enough, so I reduced these 80 lines of code to two.” Or: “I thought this would take me two days, but I did it in an hour.” What did they teach us again in bootcamp? Do not compare yourself? Ya…. right.</p>
        </div>

        <div class="col s4 homepage-steps">
          <img src="/assets/Dee_square.jpg" alt="Dee" class="circle responsive-img homepage-team-images">
          <p><strong>The Eye</strong></p>
          <p>If you find yourself thinking "gee-golly, this is a snazzy looking interwebpagesite!" then you would be right in looking to Dee, a.k.a. Fräulein, as the source. As the creative mind and fingers behind many of our pages features, Dee battled all sorts of stylistic demons to make the site <em><strong>*cough*</strong>and team<strong>*cough*</strong></em> look better. Her expertise in the charitable sector also meant team progress was immediate and consistent. Her only fault? Bringing in too many chocolates!</p>
        </div>

      </div>
      <div></div>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="/assets/donation.jpg"></div>
  </div>

<%= render 'carousel' %>

<script>

$(document).ready(function() {

  $('.parallax').parallax();

  // scrolls get started button to carousel at bottom
  $('.homepage_get_started').click(function() {
    $('html, body').animate({
      scrollTop: $("#need-button").offset().top
    }, 500);
	});
});

</script>
