
  <div style="width:100" class="parallax-container">
    <div style="width:100" class="parallax"><img style="width:100" src="/assets/FoodBagsPhoto_small.jpg"></div>
      <div class="row center">
        <div class="col s12 l6 offset-s6" id="text_overlay_homepage">
          <br>
          <h2 class="white-text">I'm afraid I just blue myself</h2>
          <br>
          <p class="white-text">Did you enjoy your meal, Mom? You drank it fast enough. Across from where? I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. As you may or may not know, Lindsay and I have hit a bit of a rough patch.</p>
          <br>
          <button class="btn waves-effect waves-light" id="homepage_get_started" type="submit" name="action">Get started</button>
        </div>
      </div>
  </div>

  <div class="section white">
    <div class="row">

      <div class="col s1"></div>
      <div class="col s10 center-align"><h2 class="header grey-text center-align">It's called 'taking advantage.'</h2>
      <br>
      </div>
      <div class="col s1"></div>

      <div class="col s12">
        <div class="col s1"></div>

        <div class="col s3 offset">
        Now, when you do this without getting punched in the chest, you'll have more fun. Oh, you're gonna be in a coma, all right. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.
        </div>

        <div class="col s3">
        I'm afraid I just blue myself. I hear the jury's still out on science. Really? Did nothing cancel? Michael! Well, what do you expect, mother? Really? Did nothing cancel?
        </div>

        <div class="col s3">
        It's a hug, Michael. I'm hugging you. There's so many poorly chosen words in that sentence. Guy's a pro. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense.
        </div>

        <div class="col s1"></div>
      </div>
    </div>
  </div>


  <div class="parallax-container">
    <div class="parallax"><img src="/assets/charity_parallax1_small.jpg"></div>
  </div>



<script>
  $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
