<section class="bottom_nav">
  <div class="bottom-something">
    <%= fa_stacked_icon "terminal inverse",
      base: "square", class: "pull-right",
      text: "Something may go here?" %>
  </div>
</section>