<footer class="page-footer white">
  <div class="amber darken-1 footer-copyright">
    <div class="container footer">
      <%= link_to '© 2016 run(DMC)', 'http://bit.ly/2jrKejR', target: 'blank' %>
    </div>
  </div>
</footer>