<li><%= link_to 'Organizations', organizations_path, id: 'org-btn' %></li>

<% if session['user_id'] != nil %>
  <li><%= link_to 'Dashboard', dashboard_path, id: 'dashboard-btn' %></li>
  <li><a href="/logout" class="waves-effect waves-light btn">Logout</a></li>
<% else %>
  <li><%= link_to 'Get started', do_good_index_path, id: 'do-good-btn' %></li>
  <li><a href="/login" class="waves-effect waves-light btn">Login</a></li>
<% end %>