<li><%= link_to 'Organizations', organizations_path, id: 'org-btn' %></li>

<% if session['user_id'] != nil %>
  <li><%= link_to 'Dashboard', dashboard_path, id: 'dashboard-btn' %></li>
  <li><a href="/logout" class="waves-effect waves-light btn">Logout</a></li>
<% else %>
  <li><%= link_to 'Get started', '/#get_started_carousel', id: 'get-started-btn' %></li>
  <li><a href="/login" class="waves-effect waves-light btn">Login</a></li>
<% end %>