<form>
  <div class="search-bar-org-page">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="food">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="hygiene items">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="furniture">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="home supplies">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="business supplies">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="money donations">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="clothing">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="volunteers">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="skilled labour">

    <input class="btn waves-effect waves-light orange cause-search" type="submit" name="category_names[]" value="unskilled labour">

  </div>
</form>

<script>

  $(document).ready(() => {

    function showValues() {
      var string = $("form").serialize();
    }

    $("input[type='submit']").on("click", showValues);

  });

</script>