<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo-image</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Organizations', organizations_path %></li>
        <li><%= link_to 'Get started', do_good_index_path %></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>