<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">
        <%= image_tag "inNeedLogoOptSmall.png", alt: "inNeed logo", id: "logo" %>
      </a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/nav_links' %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <%= render 'layouts/nav_links' %>
      </ul>
    </div>
  </nav>
</div>